
@{
    ViewBag.Title = "About";
}

<h2>About This Project</h2>
<p>
    This is a government project. This project was created for the purpose 
    of helping the government with their Barrel and Cube orginization and 
    tracking. The goverment, yet again, has majorly fucked up and the software
    developers are here to take over yet again. An article by Paul A. Cleaveland
    explains the purpose, or lack thereof, of the government. Here is the article:
    Government is said to be a necessary evil. The saying appears to be without merit. 
    For can anything be at once necessary and evil? True, all governments have had a
    history of evil-doing, more or less. However, it does not follow from this experience
    that their good is indistinguishable from their evil. Governments—assuming a proper
    limitation of their activities—are necessary and not evil. Their evil begins when they
    step out of bounds.[1]
    —Leonard Read

    I. The Good

    Leonard Read rightly observed that there is a good purpose for the institution we call 
    government. It simply cannot be a necessary evil, for if it is necessary then it must
    be for a good purpose and if the ends it pursues are only evil then it must be unnecessary.
    Read also rightly recognized that while governments exist for a good purpose, all human
    governments have participated in evil to a greater or lesser extent. The purpose of this 
    paper is to examine the good purpose of government as it was understood by the Founders
    of the United States of America. Within this understanding, it can be readily recognized 
    that much of what the American government pursues today is best classified as evil.

    The analysis can begin by defining the good purpose of government. The architects of
    American government accepted a natural law conception of the world. They were profoundly
    influenced by the writings of men like John Locke, John Milton, and William Blackstone
    . With respect to forming government from a natural law perspective, the individual is 
    understood to possess certain rights based upon the nature of this world. In particular,
    since human beings are material creatures possessing the will to act, it is immediately 
    recognized that each individual is endowed with the right to act. Thus, the right to life
    and liberty are natural. Accordingly, excepting the role of parents raising their children,
    it is inappropriate for people to make the necessary decisions regarding the direction of 
    anyone else’s life. Those must be left to the individual. In addition, the person must also 
    possess the right to property, because as material creatures who need material possessions to
    survive, property is an indispensable prerequisite for enabling someone to direct the affairs
    of his life. From this starting point, the role of government is formed. Since all individuals
    have rights to life, liberty, and property, it is necessary that these rights be maintained.
    Human beings are physical creatures in social relationships with one another. As such, it is 
    necessary that behavior be directed, regulated, controlled, and restrained so that respect for
    the rights of everyone is manifested. That is, individual behavior must be governed so that the
    actions of one individual do not violate the corresponding rights of others.

    But, what kind of control on behavior would be ideal? It is not necessary to ponder this question
    too long, for the best possible form of regulating behavior is self-control. That is, where each 
    individual is responsible for directing his own behavior in the context of respecting the rights 
    of others. As long as all people show such respect for others, there is no need for any other form
    of regulation. Regrettably, this is not the case.

    The earliest records of human history reveal that people have always had the propensity to disregard
    the innate rights of others. The accounts of ancient civilizations that developed along the Nile and
    Mesopotamian River Valleys point to the need that these communities had to protect themselves from the 
    aggression of other tribes of people who might descend upon their villages for the purpose of 
    plundering their wealth. For this reason, they banded together and developed strategies for defense.
    Thieves, pirates, dictators, and tyrants have been common to all ages and to all civilizations.
    The stark reality is that human history demonstrates that people attempting to live at peace with
    one another cannot rely solely upon self-government to secure their natural rights.

    The American Founders were cognizant of this reality. They believed that the problem resided at the 
    core of human nature. This understanding came from their common religious heritage. Specifically,
    they generally shared the Judeo-Christian point of view which holds that all human beings are innately
    sinful creatures. John Witherspoon, one of the most influential professors of Princeton, made the
    following declaration of the human condition in a famous sermon he delivered in 1776. He said:

    But where can we have a more affecting view of the corruption of our nature, than in the wrath of 
    man, when exerting itself in oppression, cruelty and blood? It must be owned, indeed, that this
    truth is abundantly manifest in times of the greatest tranquility. Others may, if they please, 
    treat thecorruption of our nature as a chimera: for my part, I see it every where, and I feel it
    every day. All the disorders in human society, and the greatest part of the unhappiness we are
    exposed to, arises from the envy, malice, covetousness, and other lusts of man. If we and all 
    about us were just what we ought to be in all respects, we should not need to go any further 
    for heaven, for it would be upon earth.[2]

    There was, therefore, general agreement that people would not and could not be made perfect in 
    this life. For this reason, they thought that people could not be trusted with unchecked power
    and that there would always be abuse of power.

    There is of course much evidence to support this perspective. From the moment people are born
    into this world, they display little interest in others except as they are taught to do so. In 
    dealing with this subject, Clarence Carson has written, "As an infant, man is observably 
    self-centered, concerned only with his own desires and gratifications. Only slowly, and often
    painfully, does the child learn more sociable and thoughtful behavior, and if enlightened self-interest
    replaces self-centeredness as an adult, considerable progress has been made. In truth, man is subject 
    to strong emotions, to fits of temper, may become violent, aggressive, and destructive...It is these
    potentialities in the nature of man...that make government necessary."[3]

    Carson identifies two important truths. First, all human beings fall short of the goal of perfect
    self-government. Any individual willing to make a close inspection of his own life will admit that
    he has not always respected the rights of others. Thus, there is a need for some outside restraint
    and control. Carson’s second truth is equally important for our consideration. In particular, he
    points out that the family is the primary institution of government in the nature of things. In
    wisdom, Providence has organized nature in such a way that, like it or not, parents bear the
    responsibility of training their children. Since human beings are what they are, it is incumbent
    upon parents to exercise their authority so as to train their children to respect others. When 
    parents actively discipline their children, experience suggests that they will learn empathy for
    others and will be more prone to consider how their actions affect other people. As a result,
    people who were raised in homes where thoughtful discipline was applied tend to be able to demonstrate
    high degrees of self-discipline later in life. On the other hand, parents who shirk their 
    responsibility, and rarely if ever exercise parental control, fail to teach their children respect 
    for other people. In such cases, children are left more or less to raise themselves and often grow
    up reinforcing the self-centeredness they were born into. Throughout history, parents have ranged 
    from being loving and generally responsible, to being disinterested and undependable, to being abusive
    and capricious. For this reason, some additional government is necessary. The actual amount of
    organized or collective government needed is linked to the success of families in raising responsible 
    children. But, however large it might be, government?s role is secondary and limited. The 
    Framers of the American Constitution eagerly affirmed this understanding of the world and sought 
    to establish a government to pick up where parenting left off. They understood the need for a
    contingent institution to secure the peace and order of society if other measures failed.

    This brings us to another important consideration about government. Specifically, is it reasonable to expect government to fill the gap that remains completely? Since the Founders largely viewed the world from a Christian perspective they would have agreed with the Apostle Paul who wrote in his letter to the Roman Christians of his day:

    Let every soul be subject to the governing authorities. For there is no authority except from God, and the authorities that exist are appointed by God. Therefore whoever resists the authority resists the ordinance of God, and those who resist will bring judgment on themselves. For rulers are not a terror to good works, but to evil. Do you want to be unafraid of the authority? Do what is good, and you will have praise from the same. For he is God’s minister to you for good. But if you do evil, be afraid; for he does not bear the sword in vain; for he is God’s minister, an avenger to execute wrath on him who practices evil.[4]

    It is important to understand these words if we are to have a clear understanding of what the Founders were thinking. Paul did not believe that all decrees ever made by government officials were good. He did not believe that governments only did good and good all the time. Instead, he was recognizing two important points. First, he noted that the proper purpose of all government is to punish evildoers so as to protect the life, liberty, and property of every citizen subject to its authority. Thus, so long as an individual keeps himself from dealing unjustly with others he has no good reason to fear the actions of his government. In Paul’s view, the ruler is obligated to promote justice by punishing wrongdoers. Therefore, so long as the governing authority is about that business, it is incumbent upon the Christian to obey.

    Paul’s admonition does not mean that there is never an appropriate time to refuse submission to government. There is nothing in Paul’s words that indicate that there isn’t some point at which a ruler should be removed from his position if he neglects too much the good purpose of government or if he abuses too greatly the power of his office. In fact, there are many passages in Scripture which condone civil disobedience. But, it was not Paul’s intention in this passage to develop the theory of civil resistance against an unjust government. Instead, Paul’s purpose is simply to make the same case for government that has been presented thus far. In particular, governments exist for the good of those who do good. When this is the case, government is pursuing its appointed end of securing the rights of life, liberty, and property of those subject to its rule.

    II. The Bad

    This brings us to Paul?s second point. That is, there will never be a perfectly good government for the same reason that governments exist in the first place. Namely, all people fall short of perfection and governments are run by people. For this reason a perfectly good government cannot exist in this world. The functions of government are carried out by people who are flawed as much as anyone else, and sometimes more so. It is, therefore, wholly unrealistic to expect perfect justice in this life. Bad government arises as a result of this situation. Occasions of failure can include both allowing those guilty of committing crimes to go free as well as punishing those who have not committed the crimes of which they are accused. Put simply, it is not possible for any human institution to right all wrongs. Even if we committed all available resources to the task, some injustice would persist. Since this is the reality of our situation, it is best understood that some offenses committed against us should simply be ignored. In such cases, seeking government intervention may well cost far more than might be gained. Thus, there will always exist in society some degree of injustice and suffering. While it is a worthy goal to minimize this kind of injustice and suffering, it is also unrealistic to suppose that it can be eliminated entirely.

    Being deeply influenced by the Christian religion, the American Founders shared Paul’s view. But, they also believed that people in America were suffering far more than reasonably should be expected. In their view, the English government had so overstepped its bounds that it could no longer claim its God given position to rule. As a result, they believed that the Declaration of Independence was warranted. After the revolution, they went on to hammer out the Constitution. In doing so, they demonstrated their understanding that the government they were fashioning would also fall short of perfection. In the Preamble to that document we read the following phrase, "...in order to form a more perfect Union..." By this phrase, the Framers state clearly their aim was to establish a government intended to more nearly achieve the desirable goals of government while limiting the degree to which its power could be abused. They understood how easily power could be used for evil ends. Therefore, they wanted to set up a limited government that was held in check in various ways. For this reason, they created a mixed government which had imbedded in it aspects of all forms of control organized over and against one another so has to hold each branch’s power in check. They fashioned the executive branch in a monarchial form, the Senate as an aristocratic institution, and the House of Representatives fashioned in a democratic style. In addition, they checked these with the judicial branch. Finally, they radically restricted the number of functions of government. Among these was to provide a system of defense against aggressors and to punish wrongdoers so as to secure the peace so that those who desire to live generally self-controlled lives could do so with relative security. These are the essential ideas behind the constitutional government they created.

    As already mentioned, the Founders did not labor under the notion that the government they were founding would be perfect. They understood that U.S. government would fall far short of the goal because even conscientious people will on occasion abuse the power of their offices. While everyone can agree that such abuses ought to be rooted out, it is unrealistic to expect that they can be, for if it were possible, then there would be no need for government at all.

    In fact, their judgment accords well with our experience. Despite the limitations imposed, numerous examples of abuses of power can be observed in the history of the nation. Still, the checks and balances often thwarted these abuses. "Indeed, the Constitution worked tolerably well, usually, from 1789 to 1933. Undoubtedly, it had sometimes been bent out of shape...", but it tended to limit the abuse of power while providing a more or less civil order within which people lived.[5] Since the 1930s, however, for all practical purposes, the Constitution has been ignored and the national government has continued to grow virtually unchecked. As a result, there has been a proliferation of bad government which may very well turn ugly.

    Much of the failure of government in the United States can be traced back to faulty expectations. That is, people have expected far more from government than can ever reasonably be expected. These expectations spread with the propagation of romanticism in the nineteenth century. Utopian writers became quite popular and influential. As a result, the idea that a utopian society could be achieved became widely held. But, as we have already seen, it is vain to believe that government can eliminate injustice entirely. Clarence Carson regards people prone to this vanity as those on a "flight from reality." He writes, "Insofar as he neglects to take into account the nature of man and the universe, as most modern utopians have, he is engaged in a full-fledged flight from reality."[6] Nevertheless, having been captured by the notion that this is possible, many people are still trying to legislate the way to paradise.

    Regardless of one’s religious beliefs, the argument that people ought to overlook some failures and abuses is rather compelling. That is not to suggest that failure and abuse should not be pointed out and rectified if possible, but merely that they should be expected and that the presence of some of both must be endured if civilization is going to exist at all. The wise man willingly overlooks numerous offenses committed against him and only expects limited efforts from government. Primarily, he desires it to punish the more heinous wrongdoers who can be apprehended and successfully tried for their crimes.

    On the contrary, those who anticipate the prospect of utopia by way of government action suppose that it is possible to remake human nature by way of legislation. However, such efforts are foolish and vain because it presumes that legal codes can somehow alter the basic makeup of people by brute force. Inevitably, such a view leads to tyranny and despotism. It is clear from the writings of the Apostle Paul that he summarily rejects any such notion as this. Interestingly, Paul’s view at this point is shared by others who do not share his theology. For example, Nobel Prize winning economist, Friedrich Hayek, spent much of his career refuting the misguided notions of social engineers. In his book, The Fatal Conceit:The Errors of Socialism,[7] Hayek advances an impressive argument against reformers who seek to recreate human nature and human institutions for utopian purposes. In exposing the weakness of the reformers’ position he writes:

    So, priding itself on having built its world as if it had designed it, and blaming itself for not having designed it better, humankind is now to set out to do just that. The aim of socialism is no less than to effect a complete redesigning of our traditional morals, law, and language, and on this basis to stamp out the old order and the supposedly inexorable, unjustifiable conditions that prevent the institution of reason, fulfillment, true freedom, and justice.

    This agreement between Hayek and Paul is quite important. Their agreement at this point demonstrates the potential for individuals of different faiths to live together in relative peace. What is necessary is that all parties agree that there is enough evidence available in this world to understand that utopian efforts are foolish.

    Yet, history is littered with countless occasions when rulers attempted to accomplish this very thing. One example is the Spanish Inquisition which was an effort to force people to accept and believe a certain kind of theology. A second example would be the socialist experimentation of the twentieth century which is likewise founded upon the notion that human beings can be forced to believe certain dictates. In both cases, government authorities issued decrees and mandated penalties. Instead of achieving their objectives, the statutes in each case were used to confiscate property and execute millions of dissidents. These cases are not just examples of bad government, but are first-rate illustrations of government power being used for outright ugly purposes. More will be said of this later. For now, it is enough to say that in both cases many people were unjustly tried, convicted, and executed for little or no reason. In these examples, the true cause of promoting justice, peace, and civilization waned amidst the tyranny and despotism that resulted from the abuses of governmental power. Far from building utopia, these societies more closely resembled the pit of hell itself.

    Thus, in any civil society it is necessary that there is some measure of charity and forgiveness. It is sometimes necessary for people to look beyond a whole host of petty offenses committed against them. That does not mean that such offenses are unimportant, but simply that an attempt to rectify all of them is a futile effort and will only lead to more heinous abuses by those who wield government power. In addition, it is not possible to change human nature by way of legislation. One individual who understood this well was John Milton. In his day, he argued for a free press on the basis of the kind of charity which ought be extended to one another in this life because of the fact that all men err. Milton argued:

    For who knows not that truth is strong, next to the Almighty; she needs no policies, nor stratagems, nor licensings to make her victorious; those are the shifts and the defences that error uses against another power...What great purchase is this Christian liberty which Paul so often boasts of? His doctrine is, that he who eats or eats not, regards a day or regards it not, may do either to the Lord. How many other things might be tolerated in peace, and left to conscience, had we but charity, and were it not the chief stronghold of our hypocrisy to be ever judging one another.[8]

    His argument was seized upon by the Founders of the United States of America who made freedom of the press a foundational principle. As a result, the principle of charity and the toleration of opinions became a hallmark feature of the nation.

    While the nation has placed high value on the freedom of the press, it has not attempted to apply Milton’s argument consistently to a host of other issues. One of the most glaring examples of this inconsistency is the government’s provision of state education which is funded by ability-to-pay taxes. By establishing government education, a kind censorship of ideas which is not possible in the broader media is imposed in schools. As a result, the propagation of falsehood for political ends is made possible in the state school system. In fact, such abuses have already occurred and are likely to increase in number and intensity as the system becomes more centralized. Even today, anyone who disagrees with the state’s official educational position is often harassed for his or her position.

    How did this discrepancy in political thought arise? The development of this kind of inconsistency arose primarily because people generally understood the need for charity. So much so, that less thoughtful individuals were easily swayed by superficial arguments in favor of governmental programs aimed at promoting or expanding charity. Beginning in the latter part of the nineteenth century and continuing throughout the twentieth century, a growing movement among various groups to accomplish this end led to a proliferation of government programs. Unfortunately, those who have supported such expansion of government power have not heeded the proverbial warning that, "It is not good to have zeal without knowledge, nor to be hasty and miss the way."[9]

    The basic problem of using government power this way is that it reveals a lack of respect for others, destroys justice, and ultimately undermines the extension of true charity. Put bluntly, it makes charity a matter of legal requirement rather than a volitional choice. But all true charity is a matter of volition and not a matter of coercion. Therefore, any attempt to force people to be merciful and charitable must fail for it is at the outset an absurd effort. A government cannot simultaneously pursue its limited role of protecting life, liberty while engaged in redistributing income and wealth. If it pursues the latter goal it does so at the expense of the former and if it pursues the former goal it does so at the expense of the latter. This was recognized by Frederic Bastiat who once noted that charity is, "voluntary sacrifice determined by fraternal feeling." He went on to observe:

    If you make fraternity a matter of legal prescription, whose acts are set forth in advance and rendered obligatory by the industrial code, what remains of this definition? Nothing but sacrifice; but involuntary, forced sacrifice, exacted by fear of punishment. And, in all honesty, what is a sacrifice of this nature, imposed upon one man for the profit of another? Is it an example of fraternity? No, it is an act of injustice; one must say the word: it is a form of legal plunder, the worst kind of plunder, since it is systematic, permanent, and unavoidable.[10]

    Nevertheless, the vast majority of government programs in the twentieth century have been designed to redistribute income at the expense of protecting life, liberty, and property. This has been done through the proliferation of laws. In fact, the legal code has become so extensive and complex that most everyone, if not in fact everyone, is guilty of violating some portion of it. The recent ethical crises among political figures are evidence of this fact. The tax laws provide another example. The tax code has become so extensive and convoluted that there is no uniform agreement even among tax experts as to what it actually says or means. In this atmosphere the execution of law becomes arbitrary. When the legal code is expanded to this point, society is well on its way to the ugliest form of government because authorities can use the legal code for political ends rather than for the promotion of justice. Government authorities of this genre hide behind their legal position and use their power in all sorts of hideous ways.

    III. The Ugly

    The ugly abuses of government power arise when lawless and unprincipled people gain political control and use government force to further their own selfish ends. People like this have little or no use for others except as they might be manipulated or used. They operate on the basis of expedience and seek only to extend their own power and control. They are motivated by their own depravity. Their passions are those which are common to the flawed human condition and include envy, jealousy, malice, vanity, pride, arrogance, and greed.

    Consider the actions of an authority who is motivated solely by greed. Any individual given over to greed, who also possesses sufficient opportunity to indulge it, will do so by stealing property from others. This becomes especially problematic when that person is a government official. If the design of government should allow him to use his position to satisfy his greedy desires, then the institution’s purpose is compromised and the most sinister display of greed is observed. When such an individual is successful at gaining political power and using collective force to seize the desired property of others he no longer fears retribution. Moreover, he may even go so far as to take pride in his accomplishment. While such stealing escalates rapidly, it cannot continue indefinitely. The greater the abuse, the more likely it is that the victimized citizenry will revolt. To secure himself against this eventuality, an unethical authority typically relies upon military force to protect his position. This action has been repeated many times in history, with the same eventual outcome. In the course of time, every ruler of this type has met his own demise and the collapse of his power. Unfortunately, that demise usually comes at the end of a period of great tribulation.

    Though it was not his intention to do so, perhaps no one has better described the ugly ruler better than Machiavelli in his classic book, The Prince. This is not at all surprising given that Machiavelli’s most likely intention for writing the book was to ingratiate himself to the Medicis who had recently regained control of the city of Florence. Prior to this event, Machiavelli had held a bureaucratic position in the old government. Thus, his immediate interest in writing the book was to gain a position in the new government. In his book, Machiavelli assumes that increasing and maintaining power and control is the primary goal of government. As such, he counsels rulers to use deception and fraud to further that end. In addition, he suggests that it is appropriate for an official to use the appearance of good only so long as it serves the purpose of extending his power and influence.

    As Machiavelli’s book began to circulate, it was widely ridiculed by others as preaching evil. However, some modern writers have praised Machiavelli for putting forth the first value-free tome on political theory. In their view, Machiavelli’s work is the foundation for the positive study of political science in modern times. Murray Rothbard has rightly observed that this effort to exonerate Machiavelli fails. Rothbard writes:

    In his illuminating discussion of Machiavelli, Professor [Quentin] Skinner tries to defend him against the charge of being a ‘preacher of evil’. Machiavelli did not praise evil per se, Skinner tells us; indeed, other things being equal, he probably preferred the orthodox Christian virtues. It is simply that when those virtues became inconvenient, that is, when they ran up against the overriding goal of keeping state power, the Christian virtues had to be set aside...Professor Skinner, however, has a curious view of what ‘preaching evil’ might really be. Who in the history of the world, after all, and outside a Dr Fu Manchu novel, has actually lauded evil per se and counselled evil and vice at every step of life’s way? Preaching evil is to counsel precisely as Machiavelli has done: be good so long as goodness doesn’t get in the way of something you want, in the case of the ruler that something being the maintenance and expansion of power. What else but such ‘flexibility’ can the preaching of evil be all about?[11]

    Machiavelli was, as far as we know, the first to promote the abuse of power so bluntly. While there can be little doubt that modern day dictators have found Machiavelli’s work useful, its prescriptions were not new. In fact, there have been rulers in every age who have followed Machiavelli’s counsel. There are countless examples of the uglier kinds of government abuses of power. While the pyramids in Egypt are marveled at as a wonder of human ingenuity, the reality is that they were built at great expense. They were constructed as monuments to the greatness of the pharaohs who mandated them. It should not be at all surprising that the end of the first kingdom of the Egyptian Empire follows closely the completion date of the last pyramid built. Nor is it surprising that each pyramid constructed was smaller than the one before it. The reality was that the projects were terribly expensive and required the heavy taxation of all Egyptians. So much is this true, that each project successively drained more and more of the wealth of the region solely for the purpose of magnifying the ego of one man. Such excess is most certainly one of the chief factors leading to the rebellion which toppled the empire.

    Closer to our own time, the rule of Joseph Stalin is another prime example of an ugly ruler. His reign will be remembered as a dark period revealing the depths of human depravity. In Stalin we find a man so consumed by his desire to increase his power and control over others that he ordered the execution of millions of his own countrymen. But, here too, we have seen the eventual fall of an empire which occurred because the people living under the pressure could stand it no longer.

    The essence of ugly government then, is not only its failure to consistently and systematically punish wrongdoers, but its perverted use of power. All unchecked government will inexorably turn ugly. This is true for the same reason that institutional government is needed in the first place. Flawed human beings are capable of gross displays of arrogance, envy, pride, malice, and greed. Since this is the case, and since these same flawed human beings exercise authority over others, it is easily understood that power is abused. For this reason, the best government that can be expected in this world is limited in scope and is subject to numerous checks and balances.

    This brings us back to the American experience. Originally, the government was designed with extensive checks and limitations on power. Yet, in the course of time, the country has moved steadily away from its constitutional moorings. For a time period, various aspects of government worked as planned and served to limit the abuse of power. However, the dam began to break in the early twentieth century when the Constitution was altered in several significant ways. The election of Senators by popular vote, the introduction of an income tax, and the establishment of the Federal Reserve System set the stage for many more abuses of government power. In the 1930s, the election of Franklin D. Roosevelt marked the beginning of an all out assault on the nation’s Constitution. While the courts struck down numerous provisions of his New Deal legislation as unconstitutional, eventually Roosevelt won the day. Over time he was able to replace a number of constitutionally minded judges with judicial activists who were willing to reinterpret the plain meaning of the Constitution so that it might serve to expedite political ends rather than to restrict government power. The result of this has been the massive increase in the size and scope of government and in its control over the lives of the American people. The current institution is ripe for being abused by unprincipled men. In fact, we have already witnessed numerous examples of such abuses. The current concentration of power in the federal government does not bode well for the future of the nation. The lessons of history clearly teach that such concentrations of power will ultimately lead to disaster. The only way that we might avoid the uglier kinds of abuses is for there to be a real reduction in the size, scope, and power of government. As of yet, there are no signs that the nation is moving in this direction.

    As a final thought to consider, Clarence Carson’s insight may be as appropriate as any. In his book on American government he wrote:

    It might have been that Americans when confronted with constitutional amendments which posed the question of whether or not to increase the power of Congress, the President, and the Federal courts would have rejected such amendments by considerable majorities. That is not how the questions were posed, however. They were asked if they would like for government to bring social justice to them and punish their adversaries. Everyman cares very much about how his shoes pinch him, and he can sometimes be persuaded that the fault lies with others. Thus, many can be persuaded that it would be good to use government to help them and bring their opponents to heel. So it is, and by way of example, the poor may be persuaded to tax the rich and have their wealth divided among the "needy"...Farmers will vote to have industrialists give them their "fair share" of the national wealth. The aged will vote to have the young taxed to support them. Parents can often be attracted by the notion of having those without children assist in educating theirs. There is something irresistibly attractive to many people about others being penalized and themselves presumably benefited by government programs.
</p>