body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table{
    color: #379FB3;
    border: 3px solid black;
    text-align: center;
    font-family: 'Trebuchet MS';
}
th{
    text-align: center;
}
tr{
    border:2px solid black;
}
a{
    color: #379FB3;
}
h1 {
    padding: 0px;
    color: #FFAD69;
    font-family: 'Trebuchet MS';
}
h2{
    color: #FFAD69;
    font-family: 'Trebuchet MS';
}
h4 {
    font-family: 'Trebuchet MS';
    color: #379FB3;
}
dl{
    font-family: 'Trebuchet MS';
    color: #379FB3;
    font-size: 18px;
}
.edit-page {
    font-family: 'Trebuchet MS';
    color: #379FB3;
}
.navbar-button{
    padding-top: 25px;
    background-color: #379FB3;
    color: white;
    text-align: center;
    font-family:'Trebuchet MS';
    font-size: 24px;
    height: 75px;
}
.navbar-button:hover{
    color:#379FB3;
    background-color: white;
    transition:0.4s;
}
.navbar-row{
    background-color: #379FB3;
}
.navbar-header{
    text-align:center;
}
button{
    color: white;
    background-color:#379FB3;
    border:none;
    width:120px;
    height:40px;
    border-radius:5px;
}
button:hover{
    background-color:white;
    color:#379FB3;
    border: 2px solid #379FB3;
    transition:0.4s;
}
.create-button{
    margin-top:15px;
}